<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">account_balance</mat-icon>
        Boarding Fees
    </ng-template>
    <br>
    Be kind to Hand over the money first week of the month.<br><br>
    <app-boarding-fees></app-boarding-fees>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">clear_all</mat-icon>
        Cleanings
    </ng-template>
    <br>
    Cleaning makes beautiful life<br><br>
    <app-cleanings></app-cleanings>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">event_available</mat-icon>
       Special Requests
    </ng-template>
    <br>
    Lets Enjoy!<br><br>
    <app-special-requests></app-special-requests>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">people</mat-icon>
       Profiles
    </ng-template>
    <br>
    Details of friends!<br><br>
    <app-profiles></app-profiles>

  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">pages</mat-icon>
       About
    </ng-template>

    This is my fist Angulr project so dont underestimate power of comman man.
  </mat-tab>
</mat-tab-group>